<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Singer</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Add Book</h1>
        <form action="/books/create" method="post">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="">ISBN</label>
                <input type="text" name="isbn" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Publish Year</label>
                <input type="text" name="publish_year" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Publisher</label>
                <input type="text" name="publisher" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Author</label>
                <input type="text" name="author" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Image Small</label>
                <input type="text" name="image_small" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Image Medium</label>
                <input type="text" name="image_medium" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Image Large</label>
                <input type="text" name="image_large" class="form-control">
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</body>

</html>
</body>
</html>